<header id="page-topbar"
        th:fragment="navbar">

    <div class="navbar-header">

        <div class="d-flex">

            <div class="navbar-brand-box">

                <a th:href="@{/}"
                   class="logo logo-dark">

                    <span class="logo-sm">
                        🌱
                    </span>

                    <span class="logo-lg fw-bold text-success">
                        Rwanda Plant
                    </span>

                </a>

            </div>

        </div>

        <div class="d-flex">

            <div class="dropdown d-inline-block">

                <button type="button"
                        class="btn header-item">

                    <i class="mdi mdi-account-circle-outline fs-3"></i>

                </button>

            </div>

        </div>

    </div>

</header>