<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout}">

<div layout:fragment="content">

    <div class="row">

        <div class="col-12">

            <div class="page-title-box">

                <h4 class="mb-sm-0">
                    Dashboard
                </h4>

            </div>

        </div>

    </div>

    <div class="row">

        <div class="col-xl-3 col-md-6">

            <div class="card">

                <div class="card-body">

                    <h5 class="card-title">
                        Total Products
                    </h5>

                    <h2 class="text-success">
                        0
                    </h2>

                </div>

            </div>

        </div>

        <div class="col-xl-3 col-md-6">

            <div class="card">

                <div class="card-body">

                    <h5 class="card-title">
                        Vendors
                    </h5>

                    <h2 class="text-primary">
                        0
                    </h2>

                </div>

            </div>

        </div>

    </div>

</div>

</html>